# IDEA files
.idea/
/out/
/*.iml

#vscode files
.vscode/

#vim files
*.swp

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT
/data
/app/data/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
doc/

# Ignore Kotlin plugin data
.kotlin

# javafx
javafx-cache/
